.ContainerDesktop_6{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/Landing_Desktop_Dobra 6-01.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:170%;
  background-position: top;
}
.agendeTour-btn{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/Ativo6.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:cover;
  background-position: center;
}
/* Estilo das logos que estão no P7 */
.ScrollSide-desktop6{
  background-color: #FF9500;
}
.logo42BH{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/LogosEspaçoP7/Logo-42.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:10rem;
  background-position: center;
}
.logoVidas{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/LogosEspaçoP7/Logo-Vidas.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:9rem;
  background-position: center;
}
.logoSenaiF6{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/LogosEspaçoP7/Sesi.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:10rem;
  background-position: center;
}
.logoSesiF6{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/LogosEspaçoP7/Senai.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:10rem;
  background-position: center;
}
.logoIELF6{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/LogosEspaçoP7/IEL.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:7rem;
  background-position: center;
}
.logoFIEMGF6{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/LogosEspaçoP7/FIEMG.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:10rem;
  background-position: center;
}
.LogoNeoVentures{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra6/LogosEspaçoP7/NeoV.svg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:10rem;
  background-position: center;
}
/* Responsividades */

@media only screen and (min-width: 1200px) {
  .ContainerDesktop_6 {
    height: 100vh;
  }
  .titulo-desktop6{
    font-size: 1.8rem;
    max-width: 25rem;
  }
  .texto-desktop_6{
    font-size: 1rem;
    max-width:20rem;
  }
  .Textos-desktop_6 {
    max-width: 500px;
    margin-top: 10rem;
    margin-left: 12.5%;
  }
  .txt-scrollside-container_6{
    font-size: 1.8rem;
    max-width: 20rem;
    position: absolute;  
  }
  
  .ScrollSide-position_6 {
    margin-top: 5rem;
    max-width: 850px;
    margin-left: 12.5%;
  }
  
  .ScrollSide-desktop6 {
    margin-top: 0rem;
    max-width: 190px;
    height: 120px;
    border: 1px solid #fff;
  }
  .agendeTour-btn {
    height:50px;
    width: 300px;
    border-radius: 40px;
    position: absolute;
    margin-left: 45%;
    margin-top: 15%;
  }
}
@media only screen and (min-width: 1000px) and (max-width:1199px) {
  .ContainerDesktop_6 {
    height: 100vh;
  }
  .titulo-desktop6{
    font-size: 1.8rem;
    max-width: 25rem;
  }
  .texto-desktop_6{
    font-size: 1rem;
    max-width:20rem;
  }
  .Textos-desktop_6 {
    max-width: 500px;
    margin-top: 10rem;
    margin-left: 12.5%;
  }
  .txt-scrollside-container_6{
    font-size: 1.8rem;
    max-width: 20rem;
    position: absolute;  
  }
  
  .ScrollSide-position_6 {
    margin-top: 5rem;
    max-width: 850px;
    margin-left: 12.5%;
  }
  
  .ScrollSide-desktop6 {
    margin-top: 0rem;
    max-width: 190px;
    height: 120px;
    border: 1px solid #fff;
  }
  .agendeTour-btn {
    height:50px;
    width: 300px;
    border-radius: 40px;
    position: absolute;
    margin-left: 45%;
    margin-top: 15%;
  }
}
@media only screen and (min-width: 700px) and (max-width:999px) {
  .ContainerDesktop_6 {
    height: 100vh;
  }
  .titulo-desktop6{
    font-size: 1.8rem;
    max-width: 25rem;
  }
  .texto-desktop_6{
    font-size: 1rem;
    max-width:20rem;
  }
  .Textos-desktop_6 {
    max-width: 500px;
    margin-top: 10rem;
    margin-left: 12.5%;
  }
  .txt-scrollside-container_6{
    font-size: 1.8rem;
    max-width: 20rem;
    position: absolute;  
  }
  
  .ScrollSide-position_6 {
    margin-top: 5rem;
    max-width: 850px;
    margin-left: 12.5%;
  }
  
  .ScrollSide-desktop6 {
    margin-top: 0rem;
    max-width: 190px;
    height: 120px;
    border: 1px solid #fff;
  }
  .agendeTour-btn {
    height:50px;
    width: 300px;
    border-radius: 40px;
    position: absolute;
    margin-left: 45%;
    margin-top: 15%;
  }
}