/* Estilo nav desk  */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #893094;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0 2rem;
  box-shadow: inset 0px 0px 0px 600px rgba(0, 0, 0, .0);
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/navBK.svg');
  color: var(--textColor);
  overflow: hidden;
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: visible;
  opacity: 0;
  font-size: 1.8rem;
  overflow: hidden;
}



/* Estilo dos botões */

.logo_Navbar {
  width: 70px;
  height: 72px;
  z-index: 999;
background-repeat: no-repeat;
  background-image: url('/img/Header/LogoP7-01.svg');
}

