.titulo-desktop3 {
  text-align: justify;
}
.ContainerDesktop_3 {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-image: url("/img/Dobra3/BK3.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.interessou-btn-desk {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-image: url("/img/Dobra3/Ativo3.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.coworkimg {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-image: url("/img/Dobra3/Fotos_Espaços/coworking.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.salaPrivativaimg {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-image: url("/img/Dobra3/Fotos_Espaços/salaPrivativa.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.andarCorridoimg {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-image: url("/img/Dobra3/Fotos_Espaços/andarCorrido.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.salaReuniaoimg {
  background-image: url("/img/Dobra3/Fotos_Espaços/salaReuniao.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.auditorioimg {
  background-image: url("/img/Dobra3/Fotos_Espaços/auditorio.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.restauranteimg {
  background-image: url("/img/Dobra3/Fotos_Espaços/restaurante.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.espacostxtC3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 250px;
  margin-top: 24rem;
  margin-left: -1.5rem;
  background-image: url("/img/Dobra3/fundotxtC3.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.slick-dots li button:before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: White;
}
@media only screen and (min-width: 1300px) {
  .ContainerDesktop_3 {
    height: 100vh;
  }
  .titulo-desktop3 {
    font-size: 1.8rem;
    margin-right: 30%;
  }
  .Scrollside-Desktop {
    max-width: 300px;
    height: 450px;
    display: grid;
    margin: 0px;
    padding: 0px;
  }
  .slick-slider {
    margin: 0 50px;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: auto;
    margin-top: 50px;
    margin: auto;
    height: 500px;
    padding: 0px;
  }
  .interessou-btn-desk {
    height: 50px;
    width: 300px;
    border-radius: 40px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1299px) {
  .ContainerDesktop_3 {
    height: 100vh;
  }
  .titulo-desktop3 {
    font-size: 1.8rem;
    margin-right: 30%;
  }
  .Scrollside-Desktop {
    max-width: 300px;
    height: 450px;
    display: grid;
    margin: 0px;
    padding: 0px;
  }
  .slick-dots li button:before {
    margin-top: -0.5rem;
  }
  .espacostxtC3 {
    margin-top: 21rem;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: auto;
    margin-top: 50px;
    margin: auto;
    height: 500px;
    padding: 0px;
  }
  .interessou-btn-desk {
    height: 60px;
    width: 300px;
    border-radius: 40px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 999px) {
  .ContainerDesktop_3 {
    height: 100vh;
  }
  .titulo-desktop3 {
    font-size: 1.8rem;
    margin-right: 0%;
  }
  .Scrollside-Desktop {
    max-width: 250px;
    height: 400px;
    display: grid;
    margin: 0px;
    padding: 0px;
  }
  .slick-dots li button:before {
    margin-top: -1rem;
  }
  .espacostxtC3 {
    margin-top: 21rem;
  }
  .slick-slide > div {
    display: grid;
    place-items: center;
    width: auto;
    margin-top: 50px;
    margin: auto;
    height: 500px;
    padding: 0px;
  }
  .interessou-btn-desk {
    height: 60px;
    width: 300px;
    border-radius: 40px;
  }
}
