@media only screen and (min-width:1060px)  {
    .WppContainerTotal{
        position: fixed;
        right: 2%;
        bottom: 5%;
        z-index: 9999999;
    }
    
    .WppIcon{
        width: 100px;
        height: auto;
    }
    .WppBackground{
        width:40px;
        height: 40px;
        background-color: #10B916;
        display: flex;
        justify-content: center;
        align-items:center;
        right: 2%;
        bottom: 5%;
        position: fixed;
    }
    .WppChatBox{
        width: 8rem;
        margin-left: -10%;
        margin-bottom: 10%;
        height: 50px;
        background-color: #5A53A3;
        opacity: 1;
    
    }
    
}
@media only screen and (min-width:700px) and (max-width:1059px)  {
    .WppContainerTotal{
        position: fixed;
        right: 2%;
        bottom: 5%;
        z-index: 9999999;
    }
    
    .WppIcon{
        width: 100px;
        height: auto;
    }
    .WppBackground{
        width:40px;
        height: 40px;
        background-color: #10B916;
        display: flex;
        justify-content: center;
        align-items:center;
        right: 2%;
        bottom: 5%;
        position: fixed;
    }
    .WppChatBox{
        width: 8rem;
        margin-left: -10%;
        margin-bottom: 10%;
        height: 50px;
        background-color: #5A53A3;
        opacity: 1;
    
    }
    
}
@media only screen and (min-width:450px) and (max-width:699px)  {
    .WppContainerTotal{
        position: fixed;
        right: 2%;
        bottom: 5%;
        z-index: 9999999;
    }
    
    .WppIcon{
        width: 100px;
        height: auto;
    }
    .WppBackground{
        width:40px;
        height: 40px;
        background-color: #10B916;
        display: flex;
        justify-content: center;
        align-items:center;
        right: 2%;
        bottom: 5%;
        position: fixed;
    }
    .WppChatBox{
        width: 8rem;
        margin-left: -10%;
        margin-bottom: 10%;
        height: 50px;
        background-color: #5A53A3;
        opacity: 1;
    
    }
    
}
@media only screen and (min-width:0px) and (max-width:449px)  {
    .WppContainerTotal{
        position:absolute;
        right: 5%;
        bottom: -23%;
        z-index: 999999;
    }
    
    .WppIcon{
        width: 45px;
        height: auto;
    }
    .WppBackground{
        width:40px;
        height: 40px;
        background-color: #10B916;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .WppChatBox{
        width: 0rem;
        margin-left: -10%;
        margin-bottom: 10%;
        height: 0px;
        background-color: #5A53A3;
        opacity: 10;
        visibility: hidden;
    }
    .WppText{    
        font-size: 0.9rem;
    }
    
}