
/* Firefox */

.Footer_Container7 {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
    background-image:url('/img/Dobra7/BK7.svg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
    background-position:center;
  height: 100vh;
}
.enviarpjBTN{
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, .0);
  background-image: url('/img/Dobra7/Ativo7.svg') !important;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:cover;
  background-position:center;
}
/* politica de privacidade (START) */
.politicaDadosLink{
  color: #fff;
  text-decoration: underline;
}
.politicaDadosLink:visited{
  color: #ffa305

  ;
}
/* politica de privacidade (END) */

@media only screen and (min-width: 1500px)  {
  .formMainH1 {
    font-size: 1.8rem;
    width: 18rem;
    margin-bottom: 40rem;
  }

  .ConteudoFormTotal {
    background-color: #893094;
    height:80%;
    width: 40%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 60%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 1rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }
/* Cor da borda ao ser clicada */
  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }
/* Cor da borda ao ser clicada (END)*/

/* Remover autofill Background branco */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
  input[data-autocompleted] {
    background-color: #b378b9 !important;
}
/* Remover autofill Background branco (END) */


  ::placeholder {
    color: #fff !important;
  }

  .divPassosPJ {
    margin-top: -2.3rem;
    margin-left: 19%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }
  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }


  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1rem;
  }

  .allCheckInput {
    height: 50%;
    width: 85%;
  }

  .inputType-CheckStyle {
    margin-right: 2rem;
  }

  .labelCheck-TXT {
    font-size: 1rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1499px)  {
  .formMainH1 {
    font-size: 1.8rem;
    width: 18rem;
    margin-bottom: 30rem;
  }

  .ConteudoFormTotal {
    background-color: #893094;
    height:90%;
    width: 40%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 60%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 1rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }
/* Cor da borda ao ser clicada */
  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }
/* Cor da borda ao ser clicada (END)*/

/* Remover autofill Background branco */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
  input[data-autocompleted] {
    background-color: #b378b9 !important;
}
/* Remover autofill Background branco (END) */


  ::placeholder {
    color: #fff !important;
  }

  .divPassosPJ {
    margin-top: -2.3rem;
    margin-left: 19%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }
  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }


  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1rem;
  }

  .allCheckInput {
    height: 50%;
    width: 85%;
  }

  .inputType-CheckStyle {
    margin-right: 2rem;
  }

  .labelCheck-TXT {
    font-size: 1rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1366px)  {
  .formMainH1 {
    font-size: 1.8rem;
    width: 18rem;
    margin-bottom: 30rem;
  }

  .ConteudoFormTotal {
    background-color: #893094;
    height:95%;
    width: 40%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 60%;
  }

  .buttonForm {
    width: 15px;
    height: 15px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 1rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }
/* Cor da borda ao ser clicada */
  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }
/* Cor da borda ao ser clicada (END)*/

/* Remover autofill Background branco */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
  input[data-autocompleted] {
    background-color: #b378b9 !important;
}
/* Remover autofill Background branco (END) */


  ::placeholder {
    color: #fff !important;
  }

  .divPassosPJ {
    margin-top: -1rem;
    margin-left: 19%;
    height: 20px;
  }

  .buttonPJNextBall {
    width: 7px;
    height: 7px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }
  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }


  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1rem;
  }

  .allCheckInput {
    height: 50%;
    width: 85%;
  }

  .inputType-CheckStyle {
    margin-right: 2rem;
  }

  .labelCheck-TXT {
    font-size: 1rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .formMainH1 {
    font-size: 2rem;
    width: 20.5rem;
    margin-bottom: 20rem;
  }

  .ConteudoFormTotal {
    /* margin-left: 30%; */
    background-color: #893094;
    height:95%;
    width: 50%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 70%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 1rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }

  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }

  ::placeholder {
    color: #fff !important;
  }

  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .divPassosPJ {
    margin-top: -2.5rem;
    margin-left: 23%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }

  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1.3rem;
  }

  .allCheckInput {
    height: 50%;
    width: 75%;
  }

  .inputType-CheckStyle {
    margin-right: 1rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 999px) {
  .formMainH1 {
    display: none;
  }

  .ConteudoFormTotal {
    /* margin-left: 30%; */
    background-color: #893094;
    height:80%;
    width: 60%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 65%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 1rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }

  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }

  ::placeholder {
    color: #fff !important;
  }

  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .divPassosPJ {
    margin-top: -2.5rem;
    margin-left: 28%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }

  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1.3rem;
  }

  .allCheckInput {
    height: 50%;
    width: 75%;
  }

  .inputType-CheckStyle {
    margin-right: 1rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
  .formMainH1 {
    display: none;
  }

  .ConteudoFormTotal {
    /* margin-left: 30%; */
    background-color: #893094;
    height:80%;
    width: 90%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 60%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 1rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }

  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }

  ::placeholder {
    color: #fff !important;
  }

  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .divPassosPJ {
    margin-top: -3rem;
    margin-left: 43%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }

  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1.3rem;
  }

  .allCheckInput {
    height: 50%;
    width: 75%;
  }

  .inputType-CheckStyle {
    margin-right: 1rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
  .formMainH1 {
    display: none;
  }

  .ConteudoFormTotal {
    /* margin-left: 30%; */
    background-color: #893094;
    height:80%;
    width: 90%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 60%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 1rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }

  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }

  ::placeholder {
    color: #fff !important;
  }

  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .divPassosPJ {
    margin-top: -2.5rem;
    margin-left: 43%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }

  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1.3rem;
  }

  .allCheckInput {
    height: 50%;
    width: 75%;
  }

  .inputType-CheckStyle {
    margin-right: 1rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 499px) {
  .formMainH1 {
    display: none;
  }

  .ConteudoFormTotal {
    /* margin-left: 30%; */
    background-color: #893094;
    height:80%;
    width: 90%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 80%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 0.8rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }

  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }

  ::placeholder {
    color: #fff !important;
  }

  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .divPassosPJ {
    margin-top: -2.5rem;
    margin-left: 40%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }

  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1.3rem;
  }

  .allCheckInput {
    height: 50%;
    width: 75%;
  }

  .inputType-CheckStyle {
    margin-right: 1rem;
  }

  .labelCheck-TXT {
    font-size: 0.8rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  .formMainH1 {
    display: none;
  }

  .ConteudoFormTotal {
    /* margin-left: 30%; */
    background-color: #893094;
    height:90%;
    width: 90%;
    border-radius: 15px;
  }

  .allButtonsForm {
    width: 80%;
  }

  .buttonForm {
    width: 20px;
    height: 20px;
    border: 2.5px solid #fff;
  }

  .textLabels {
    font-size: 0.8rem;
  }

  /* Forms styles */
  .pessoaFisicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: none;
  }

  .pessoaJuridicaForm {
    width: 100%;
    height: 500px;
    background-color: transparent;
  }

  /* Conteudo Form Pessoa jurídica */
  .pessoaJuridicaConteudo1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .inputForm {
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    background-color: #b378b9;
    color: #fff;
    padding-left: 15px;
  }

  textarea:focus,
  input:focus {
    outline-color: #9430b9;
  }

  ::placeholder {
    color: #fff !important;
  }

  .buttonPJProximo {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .divPassosPJ {
    margin-top: -2.5rem;
    margin-left: 40%;
  }

  .buttonPJNextBall {
    width: 10px;
    height: 10px;
    margin-left: 1rem;
    border: 1px solid #fff;
  }

  .buttonPJAnteriorBall {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
  }

  .passosPJText {
    margin-top: 45px;
    margin-left: -50px;
  }

  /* pj conteúdo 2 */
  .pessoaJuridicaConteudo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerInputCheck {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #b378b9;
  }

  .titleInput-Check {
    font-size: 1.3rem;
  }

  .allCheckInput {
    height: 50%;
    width: 75%;
  }

  .inputType-CheckStyle {
    margin-right: 1rem;
  }

  .labelCheck-TXT {
    font-size: 0.8rem;
  }

  .enviarpjBTN {
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
}